In [ ]:
import pymysql

In [ ]:
loginInfo = {
    'host':'localhost',
    'port':,
    'user':'root',
    'passwd':'',
    'db':'TESTDB',
    'charset':'utf8mb4'
}

In [ ]:
conn= pymysql.connect(**loginInfo)

In [ ]:
cursor = conn.cursor()    #建立游標

In [ ]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

cursor.execute(sql)

In [ ]:
conn.commit()

In [ ]:
# 產生時間的方式如下
import time
t = time.localtime()
dt = time.strftime('%Y-%m-%d %H:%M:%S', t)

# 試著再 INSERT 一筆資料
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('002', 'Judy', '002', 30, 'F', 48000, '{}');
""".format(dt)

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

In [ ]:
conn.commit()

In [ ]:
cursor.execute("DELETE FROM Staff")

In [ ]:
conn.commit()

In [ ]:
import json
import time

path = 'Staff.json'
with open(path, 'r', encoding='utf-8') as f:
    jsondata = json.loads(f.read())

jsondata

In [ ]:
# 先寫好 SQL 語法
# 並將語法中會不斷改變的部分挖空 ( %s )
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

In [ ]:
# 整理 jsondata 成可 insert 進資料庫的樣子，格式如下
'''
[('001', 'Mike', '002', '45', 'M', '60000', '2020-10-13 21:41:49'),
 ('002', 'Judy', '002', '30', 'F', '48000', '2020-10-13 21:41:49'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2020-10-13 21:41:49'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2020-10-13 21:41:49'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2020-10-13 21:41:49'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2020-10-13 21:41:49'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2020-10-13 21:41:49'),
 ('008', 'Marry', '003', '29', 'F', '87000', '2020-10-13 21:41:49')]
'''
import time
t = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime())
values = [tuple(jsondata[d].values()) + (t,) for d in jsondata]
values

In [ ]:
# 將 SQL 批量執行
print('新增資料筆數:', cursor.executemany(sql_insert, values))

# Commit 並檢查資料是否存入資料庫
conn.commit()

## select

In [ ]:
# 試著將資料表中的資料取出
# 先寫好 SQL 語法
sql = """
SELECT * FROM Staff;
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

In [ ]:
# 將查詢結果取出
data = cursor.fetchall()
data

In [ ]:
# 關閉連線
cursor.close()
conn.close()